html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #694A38;
    background-color: #D7C7B5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    text-align: center;
    background-color: #694A38;
    margin: 0;
    padding: 1em 0;
}

header h1 {
    color: #D7C7B5;
    margin: 0;
    text-decoration: underline;
}

nav {
    text-align: center;
    padding: 1em 0;
    border-bottom: 5px solid #694A38;
    width: 100%;
}

nav div a {
    color: #694A38;
    text-decoration: none;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.Flex_Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Page_Content {
    flex: 1;
    overflow: auto;
    text-align: left;
    font-size: 20px;
    color: #52392b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.Page_Content div a {
    text-decoration: none;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #694A38;
    color: #D7C7B5;
    margin: 0;
    padding: 1em 0;
}

h1 a {
    color: rgb(216, 200, 182);
}


#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/assets/images/honeycrossiant.gif");
    background-size: cover;
    height: 500px;
    background-color: rgba(216, 200, 182, 0.6);
    background-blend-mode: lighten;
    padding: 5em;
}

#hero h5 {
    width: 50%;
}

#contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/assets/images/crepescake.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    background-color: rgba(216, 200, 182, 0.4);
    background-blend-mode: lighten;
    padding: 5em;
}

#contact-us h3 {
    text-align: center;
    color: #694A38;
    padding-top: 2em
}

#about-us {
    text-align: center;
    color: #694A38;
    padding-top: 2em;
}

#about-us h4 {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
}

.videos {
    justify-content: center;
    margin-bottom: 3%;
    margin-left: 35%;
}

#getting-started {
    text-align: right;
    display: flex;
    flex-direction: row;
}

#getting-started h5 {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}

.Page_Content h2 {
    text-align: center;
}

.icon {
    height: 50px;
    width: 50px;
}

div.gallery {
    margin: 5px;
    border: 5px solid #52392b;
    float: right;
    width: 800px;
    display: flex;
    flex-direction: column;
}

div.gallery:hover {
    border: 5px solid #52392b;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.description {
    padding: 15px;
    text-align: center;
}


div.recipes {
    margin: 5px;
    border: 5px solid #52392b;
    float: right;
    width: 600px;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

div.recipes :hover {
    border: 5px solid #52392b;
}

div.recipes img {
    width: 100%;
    max-height: 500px;
}

div.recipes-desc {
    padding: 15px;
    text-align: center;
}

.recipes-text {
    padding: 15px;
    font-size: large;
}
